body,ul,li,h1,h2,h3,h4,img{margin:0;padding:0;font-size:100%;}
body{font-family:arial;font-size:14px;}
li{list-style:none;}
a{text-decoration:none;color:inherit;}


.wi_au{width:auto;}
.fl_l{float:left;}
.fl_r{float:right;}
.pos_re{position:relative;}
.pos_ab{position:absolute;}
.boxs{box-sizing:border-box;}
.cur_po{cursor:pointer;}

/*row*/
.row10{width:10%;}
.row20{width:20%;}
.row30{width:30%;}
.row40{width:40%;}
.row50{width:50%;}
.row60{width:60%;}
.row70{width:70%;}
.row80{width:80%;}
.row90{width:90%;}



/*bg_color*/

.bg_514{background-color:#514947}

/*ft_color*/

.ft_fff{color:#fff;}

/*ft_size*/
.ft14{font-size:14px;}
.ft16{font-size:16px;}
.ft18{font-size:18px;}
.ft20{font-size:20px;}
.ft22{font-size:22px;}
.ft24{font-size:24px;}
.ft26{font-size:26px;}
.ft28{font-size:28px;}
.ft30{font-size:30px;}
.ft60{font-size:60px;}





@font-face {
  font-family: 'zd_font';
  src: url('../font-face/fontawesome-webfont.eot?v=4.1.0');
  src: url('../font-face/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../font-face/fontawesome-webfont.woff') format('woff'),
  url('../font-face/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../font-face/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ft:empty{width:1em;height:1em;}
.ft{position:relative;top:1px;display:inline-block;font-family:'zd_font';-webkit-font-smoothing:antialiased;font-style:normal;font-weight:normal;line-height:1;-moz-osx-font-smoothing:grayscale}
.ft_empheart:before{content:"\f08a";}
.ft_recart:before{content: "\f0c9";} 






