


.header{z-index:14;overflow:hidden;}
.header h1{left:0;top:0;height:105px;}
.nav{top:0;right:0;height:105px;}
.nav ul{height:105px;margin-right:2em;overflow:hidden;}
.nav ul li{float:left;display:inline;}
.nav ul li a{display:block;color:#fff;line-height:105px;padding:0 20px;}

.handle{border-left:1px solid #675f5d;height:105px;line-height:105px;padding:0 30px;color:#fff;}
.lit_a{width:12px;height:8px;background:url(../img/lit_a.png) center bottom no-repeat;background-size:100%;position:absolute;bottom:0;left:0;}

.container{height:660px;width:100%;overflow:hidden;position:relative;top:105px;background:-webkit-linear-gradient(top,#9CCECE 60%,#E7F7F7)}
.cloud_near{position:absolute;z-index:12;-webkit-animation:movenear 30s linear infinite;}
.cloud_far{position:absolute;z-index:11;-webkit-animation:movefar 40s linear infinite;}
.fence{position:absolute;z-index:14;right:120px;width:80%;height:160px;bottom:40px;background:url(../img/fence.png) 0 0 repeat-x;}
.tree{position:absolute;z-index:13;width:140%;height:300px;bottom:40px;background:url(../img/tree.png) 0 0 repeat-x;background-size:auto 100%;}
.bush1{position:absolute;z-index:11;width:100%;height:290px;bottom:40px;background:url(../img/bush1.png) 0 0 no-repeat;background-size:auto 100%;}
.bush2{position:absolute;z-index:17;width:400px;height:82px;bottom:20px;right:0px;background:url(../img/bush2.png) 0 0 no-repeat;background-size:100% 100%;}
.birdsa{width:40px;height:40px;position:absolute;right:0;top:220px;
	-webkit-animation:movea 10s linear infinite;
}

.bordsa_a{
	width:40px;height:40px;background:blue;position:absolute;top:0;
	background:url(../img/fly_a.png) 0 0 no-repeat;background-size:100% 70%;
	-webkit-animation:movet 0.5s linear infinite alternate;
}

@-webkit-keyframes movenear{
	0%{left:-100%;}
	100%{left:100%;}
}
@-webkit-keyframes movefar{
	0%{right:0%}
	100%{right:100%;}
}

@-webkit-keyframes movea{
	0%{left:0;}
	100%{left:100%;}
}

@-webkit-keyframes movet{
	0%{top:0px;}
	100%{top:30px;}
}



