body,ul,li,h1,h2,h3,h4,img{margin:0;padding:0;font-size:100%;}
body{font-family:arial;font-size:14px;}
li{list-style:none;}
img{border:none;vertical-align:top}
a{text-decoration:none;color:inherit;}


.wi_au{width:auto;}
.fl_l{float:left;}
.fl_r{float:right;}
.pos_re{position:relative;}
.pos_ab{position:absolute;}
.boxs{box-sizing:border-box;}
.cur_po{cursor:pointer;}

/*bg_color*/

.bg_514{background-color:#514947}

/*ft_color*/

.ft_fff{color:#fff;}

/*ft_size*/
.ft14{font-size:14px;}
.ft16{font-size:16px;}
.ft18{font-size:18px;}
.ft20{font-size:20px;}
.ft22{font-size:22px;}
.ft24{font-size:24px;}
.ft26{font-size:26px;}
.ft28{font-size:28px;}
.ft30{font-size:30px;}
.ft60{font-size:60px;}





