body{-moz-user-select:none;-webkit-user-select:none;user-select:none;font:16px/1 'Helvetica Neue',Helvetica,Arial,sans-serif}
.icent{width:96%;margin-left:auto;margin-right:auto;overflow:hidden;}
#header{position:absolute;width:100%;height:82px;z-index:14;top:0;right:0;overflow:hidden;}
.nav{top:0;right:0;width:100%;}
.nav h1{float:left;display:inline;height:82px;}
.nav h1 a{display:block;overflow:hidden;line-height:82px;}
.nav h1 a img{vertical-align: middle;position: relative;top:-2px;}
.nav ul{float:right;display:inline;height:82px;overflow:hidden;}
.nav ul li{float:left;display:inline;cursor:pointer;}
.nav ul li a{display:block;color:#ccc;position:relative;line-height:82px;margin:0 20px;padding:0 5px;font-size:16px;font-weight: bold;}
.nav ul li:nth-last-child(1) a{margin-right:0;}
.nav li a:hover, .nav li a.active{color:#fff;}
.nav li a:hover:after,.nav li a.active:after{
	left: 0;
	right: 0;
	opacity: 1;
}
.nav ul li a:after {
	content: "";
	position: absolute;
	z-index:22;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 4px;
	background: #629256;
	opacity: 0;
	-webkit-transition: .6s ease-in;
	-o-transition: .6s ease-in;
	transition: .6s ease-in;
}


.handle{border-left:1px solid #675f5d;height:105px;padding:0 30px;color:#fff;cursor:pointer;}
.lit_a{width:12px;height:7px;background:url(../img/lit_a.png) center top no-repeat;background-size:100%;position:absolute;bottom:0;left:0;}

.section{padding:0 5%;font-size:16px;}
.section1{overflow:hidden;z-index:13;top:0;height:100%;
	perspective:600;-webkit-perspective:600;-moz-perspective:600;-ms-perspective:600;
	background-color:#9CCECE;
	background:-webkit-linear-gradient(top,#9CCECE 60%,#E7F7F7);
	background:-moz-linear-gradient(top,#9CCECE 60%,#E7F7F7);
	background:-o-linear-gradient(top,#9CCECE 60%,#E7F7F7);
	background:-linear-gradient(top,#9CCECE 60%,#E7F7F7);
}

.section2{background:url(../img/bg-yellow.png) 0 0 repeat;}
.st2_wrapper{display:table;}
.st2_wrapper .left{width: 28%;display: table-cell;vertical-align: middle;}
.st2_wrapper .left span{display:inline-block;width:90%;opacity:0;}
.st2_wrapper .right{width: 72%;display: table-cell;}
.st2_wrapper .right>div{background-color: #d5d3d3;border-radius: 14px;overflow: hidden;opacity:0;}
.st2_wrapper .right table{margin:5% 0 5% 5%;width: 100%;}
.st2_wrapper .right table td{font-size:18px;line-height:32px;color:#444;text-indent: 1em}
.st2_wrapper .right table td.td1{text-align: right;width:15%;color:#d42306;text-indent: 0}

.section3{background:url(../img/bg-yellow.png) 0 0 repeat;}
.section3 .fp-tableCell>div{margin-top:60px;position:relative;opacity:0;}
.section3 .swiper-container{width:80%;margin:auto;min-width:810px;}
.section3 .swiper-slide{background-color:#d5d3d3;overflow: hidden;box-sizing:border-box;padding:20px 20px 40px 30px;border-radius: 12px;}
.section3 .swiper-slide .wrapper{display:table;width: 100%}
.section3 .swiper-slide .left{display:table-cell;padding:0 25px;position: relative;}
/*.section3 .swiper-slide .left:after{content:'';display:block;position:absolute;top:25px;bottom:0;right:0;border-right: 1px #c4c0c0 solid;}*/
.section3 .swiper-slide .left:before{content:'';display:block;position:absolute;top:25px;bottom:0;left:0;border-right: 1px #c4c0c0 solid;}
.section3 .swiper-slide .left h3{font-size:22px;line-height:32px;color:#292222;}
.section3 .swiper-slide .left p{line-height: 24px;color:#444;margin-top:10px;}
.section3 .swiper-slide .left p span{display:block;margin-top:15px;color:#af4d4d;}
.section3 .swiper-slide .right {display:table-cell;}
.section3 .swiper-slide .company_logo{width:120px;display:table-cell;vertical-align: middle;}
.section3 .swiper-slide .company_logo img{width: 80%;}
.section3 .swiper-pagination{width:100%;bottom:-30px;}
.section3 .swiper-pagination-bullet{margin:0 4px;}
.section3 .swiper-button-next, .section3 .swiper-button-prev{width:50px;height:50px;background-size:30%;border:2px #2b8ef5 solid;border-radius:50%;}


.cloud_near{position:absolute;z-index:12;top:0;
	-webkit-animation:movenear 80s linear infinite;
	-moz-animation:movenear 80s linear infinite;
	animation:movenear 80s linear infinite;
}
.cloud_far{position:absolute;z-index:11;top:10%;
	-webkit-animation:movefar 70s linear infinite;
	-moz-animation:movefar 70s linear infinite;
	animation:movefar 70s linear infinite;
}


.welcome{position:absolute;right:50%;margin-right:-169px;z-index:222;top:26%;}
.welcome span{
	font-size:80px;color:#fff;font-weight:bold;font-style:normal;display:block;
}

.fence{position:absolute;z-index:14;width:60%;height:100px;bottom:40px;right:40px;background:url(../img/fence.png) 0 0 repeat-x;
}
.tree{position:absolute;z-index:13;width:140%;height:600px;bottom:-260px;background:url(../img/tree.png) 0 0 repeat-x;background-size:auto 50%;
}
.bush1{position:absolute;z-index:11;width:100%;height:290px;bottom:40px;background:url(../img/bush1.png) 0 0 no-repeat;background-size:auto 100%;
}
.bush2{position:absolute;z-index:17;width:300px;height:62px;bottom:20px;right:0px;background:url(../img/bush2.png) 0 0 no-repeat;background-size:100% 100%;
}

@-webkit-keyframes movenear{
	0%{left:-100%;}
	100%{left:100%;}
}
@-moz-keyframes movenear{
	0%{left:-100%;}
	100%{left:100%;}
}
@keyframes movenear{
	0%{left:-100%;}
	100%{left:100%;}
}
@-webkit-keyframes movefar{
	0%{right:0%}
	100%{right:100%;}
}
@-moz-keyframes movefar{
	0%{right:0%}
	100%{right:100%;}
}
@keyframes movefar{
	0%{right:0%}
	100%{right:100%;}
}



@-webkit-keyframes mymove_wel{
	0%{-webkit-transform:rotateX(-12deg);}
	20%{-webkit-transform:rotateX(12deg);}
	40%{-webkit-transform:rotateX(-12deg);}
	60%{-webkit-transform:rotateX(12deg);}
	80%{-webkit-transform:rotateX(-12deg);}
	100%{-webkit-transform:rotateX(0deg);}
}
@-moz-keyframes mymove_wel{
	0%{-moz-transform:rotateX(-12deg);}
	20%{-moz-transform:rotateX(12deg);}
	40%{-moz-transform:rotateX(-12deg);}
	60%{-moz-transform:rotateX(12deg);}
	80%{-moz-transform:rotateX(-12deg);}
	100%{-moz-transform:rotateX(0deg);}
}
@-ms-keyframes mymove_wel{
	0%{-ms-transform:rotateX(-12deg);}
	20%{-ms-transform:rotateX(12deg);}
	40%{-ms-transform:rotateX(-12deg);}
	60%{-ms-transform:rotateX(12deg);}
	80%{-ms-transform:rotateX(-12deg);}
	100%{-ms-transform:rotateX(0deg);}
}


/*load*/
#load{position:fixed;left:0;top:0;bottom:0;z-index:999;width:100%;height:100%;background-color:#d0e7f0;display:table;}
.myloadText{display:table-cell;vertical-align:middle;text-align:center;width: 100%;color:#5f5e5e;font-size:20px;}
/*#load img{width:27.65%;left:36%;}*/
#load span{margin-top:2em;display:inline-block;height:20px;overflow:hidden;background-clip:padding-box;width:40%;min-width:460px;background-color:#f5f5f5;box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);border-radius:50px;}
#load span font{width:0;background-size:40px 40px;border-radius:50px;height:100%;left:0;background-color:#5bc0de;display:inline-block;background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	-webkit-animation:aroll 2s linear infinite;animation:aroll 2s linear infinite;
}
.load_img{height:0;overflow:hidden;}
#load span .p_a{
	-webkit-transition: width .6s ease;transition: width .6s ease;
}
@-webkit-keyframes aroll{
	0%{background-position:40px 0}
	100%{background-position:0 0}
}
@keyframes aroll{
	0%{background-position:40px 0}
	100%{background-position:0 0}
}
